extends ../layout

block content

  .container-theme-showcase


    h1.well Please Sign In Before Proceeding
    hr


    button(type="link" class="btn btn-info")
      a(href="/valid/signin") Sign In

    button(type="link" class="btn btn-info")
      a(href="/valid/signup") Sign Up