extends ../layout

block content



    


     hr
     h1.well Sign In
     br
     br
     if errors
       .alert.alert-danger
        
        for error in errors
         p= error

     form(action='/signin', method="post")
       .col-md-6
        .form-group
          label Email
          input.form-control(type="text" name="email")
          br

        .form-group
          label Password
          input.form-control(type="password" name="password")
          br


             
        Button(type="submit" class="btn btn-success") Submit
        